# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Twitter api credentials
    twitter_consumer_key_1: ~
    twitter_consumer_secret_1: ~
    twitter_oauth_token_1: ~
    twitter_oauth_token_secret_1: ~

    twitter_consumer_key_2: ~
    twitter_consumer_secret_2: ~
    twitter_oauth_token_2: ~
    twitter_oauth_token_secret_2: ~

    twitter_consumer_key_3: ~
    twitter_consumer_secret_3: ~
    twitter_oauth_token_3: ~
    twitter_oauth_token_secret_3: ~

    # AWS SDK credentials
    aws_sdk_region: ~
    aws_sdk_version: ~

    # AWS SQS url
    aws_sqs_queue_url: ~
