<form action="" method="get">
    id<input type="text" name="id" id="">
    name<input type="text" name="name" id="">
    active<input type="text" name="active" id="">
    <br>
    <br>
    username<input type="text" name="accounts[0][username]" id="">
    type<input type="text" name="accounts[0][type]" id="">
    <br>
    <br>
    username<input type="text" name="accounts[1][username]" id="">
    type<input type="text" name="accounts[1][type]" id="">
    <br>
    <br>
    username<input type="text" name="accounts[2][username]" id="">
    type<input type="text" name="accounts[2][type]" id="">
    <br>
    <br>
    <input type="submit" value="send">
</form>